*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ensure the page takes up the full viewport height */
    margin: 0 auto;
    /* Remove default body margin */
}

.puzzle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.puzzle-container.easy {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    border: 5px solid black;
    background-image: url(../images/mario-3x3-full.jpg);
}

.puzzle-container.medium {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    /* gap: 5px; */
    background-image: url(../images/mario-and-yoshi-4x4-full.jpg);
}

.puzzle-container.hard {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
    background-image: url(../images/mario-charachters-5x5-full.jpg);
    background-repeat: no-repeat;
}

.puzzle-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 25px;
    cursor: pointer;
}

.puzzle-tile:empty {
    background-color: #ccc;
    /* Customize the empty tile appearance */
}

@media (max-width: 600px) {
    .puzzle-tile {
        font-size: 8vw;
    }
}